<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head />
<h:body>
	<div id="header">
		<h1>
			<ui:insert name="title"></ui:insert>
		</h1>
		<h:form>
			<p:outputLabel value="Usuario: #{loginBean.usuarioLogado.nome}" />
			<h:commandLink value="Sair" action="#{loginBean.logout}" />
		</h:form>
	</div>
	<div id="content">
		<ui:insert name="content">
		</ui:insert>
	</div>
</h:body>
</html>
