<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head />
<h:body>
	<ui:composition>
		<h:form id="formList">
			<p:dataGrid var="usuario" value="#{buscaBean.usuarios}" columns="3"
				layout="grid" rows="12" paginator="true" id="usuarios"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="6,12,16">
				<p:panel header="#{usuario.nome}" style="text-align:center">
					<h:panelGrid columns="1" style="width:100%">
						<h:outputText value="Perfil: #{usuario.perfil}" />
						<p:commandLink value="Ver Perfil Detalhado"
							update=":tableView:formView:usuarioDetail"
							oncomplete="PF('usuarioDialog').show()" title="View Detail">
							<f:setPropertyActionListener value="#{usuario}"
								target="#{buscaBean.selectedUsuario}" />
						</p:commandLink>
					</h:panelGrid>
				</p:panel>
			</p:dataGrid>
		</h:form>
		<h:form id="formView">
			<p:dialog header="Detalhes do Perfil" widgetVar="usuarioDialog"
				minimizable="true" maximizable="true" modal="true" showEffect="fade"
				hideEffect="fade" resizable="true">
				<p:outputPanel id="usuarioDetail" style="text-align:center;">
					<h:commandLink value="Solicitar"
						action="#{pedidoOrientacaoBean.pedidoOrientacao(buscaBean.selectedUsuario)}"></h:commandLink>
					<h:form>
						<p:fieldset legend="Dados Pessoais:">
							<p:panelGrid columns="1"
								rendered="#{not empty buscaBean.selectedUsuario}"
								columnClasses="label,value">
								<p:row>
									<h:outputText value="Nome: " />
									<h:outputText value="#{buscaBean.selectedUsuario.nome}" />
								</p:row>
								<p:row>
									<h:outputText value="Sobrenome: " />
									<h:outputText value="#{buscaBean.selectedUsuario.sobrenome}" />
								</p:row>
								<p:row>
									<h:outputText value="Perfil: " />
									<h:outputText value="#{buscaBean.selectedUsuario.perfil}" />
								</p:row>
							</p:panelGrid>
						</p:fieldset>
					</h:form>
					<br />
					<h:form id="formViewListaPublicacoes">
						<p:fieldset legend="Publicações">
							<p:dataTable
								value="#{publicacaoBean.viewPublicacoes(buscaBean.selectedUsuario)}"
								var="publicacao" id="tabelaViewPublicacoes">
								<p:column>
									<f:facet name="header">Título</f:facet>
									<p:outputLabel value="#{publicacao.titulo}" />
								</p:column>
								<p:column>
									<f:facet name="header">Link</f:facet>
									<p:commandLink value="#{publicacao.linkPublicacao}"/>
								</p:column>
								<p:column>
									<f:facet name="header">Data da Publicação</f:facet>
									<p:outputLabel value="#{publicacao.dataPublicacao}">
										<f:convertDateTime pattern="dd/MM/yyyy"
											timeZone="America/Sao_Paulo" />
									</p:outputLabel>
								</p:column>
							</p:dataTable>
						</p:fieldset>
					</h:form>
				</p:outputPanel>
			</p:dialog>
		</h:form>
	</ui:composition>
</h:body>
</html>