<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition template="_template.xhtml">
	<ui:define name="title">TCC</ui:define>
	<ui:define name="content">
		<p:tabView id="tableView">	
			<p:tab title="Perfil">
				<p:accordionPanel id="accodionPanel" style="width:100%">
					<p:separator />
					<p:tab title="Publicações">
						<ui:include src="publicacao.xhtml" />
					</p:tab>
				</p:accordionPanel>
			</p:tab>
			<p:tab title="Buscar">
				<ui:include src="busca.xhtml" />
			</p:tab>
			<p:tab title="Meus Relacionamentos">
				<ui:include src="relacionamento.xhtml" />
			</p:tab>
		</p:tabView>
		
	</ui:define>
</ui:composition>
</html>