<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:form id="login">
	<fieldset>
		<legend>Login</legend>
		<h:panelGrid columns="3">
			<h:outputLabel value="Email:" for="email" />
			<h:inputText id="email" value="#{loginBean.usuario.email}">
				<f:passThroughAttribute name="type" value="email" />
			</h:inputText>

			<h:message for="email" id="messageEmail" />

			<h:outputLabel value="Senha:" for="senha" />
			<h:inputText id="senha" value="#{loginBean.usuario.senha}">
				<f:passThroughAttribute name="type" value="password" />
			</h:inputText>

			<h:message for="senha" id="messageSenha" />

			<h:commandButton value="Entrar" action="#{loginBean.login}" />
			<h:commandLink value="Cadastre-se" action="#{loginBean.register}" />
		</h:panelGrid>
	</fieldset>
</h:form>

</html>