<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head />
<h:body>
	<ui:composition>
		<h:form id="formCadastraPublicacao">
			<p:fieldset legend="Adicionar Publicacoes">
				<h:panelGrid>
					<p:outputLabel value="Titulo:" for="titulo" />
					<p:inputText id="titulo" value="#{publicacaoBean.titulo}" />

					<p:outputLabel value="Link:" for="link" />
					<p:inputText id="link" value="#{publicacaoBean.linkPublicacao}" />

					<p:outputLabel for="dataPublicacao" value="Data da Publicacao:" />
					<p:calendar id="dataPublicacao"
						value="#{publicacaoBean.dataPublicacao}" pattern="dd-MM-yyyy" />
				</h:panelGrid>
			</p:fieldset>
			<h:panelGrid>
				<p:commandButton value="Adicionar"
					update=":tableView:accodionPanel:formListaPublicacoes"
					action="#{publicacaoBean.add}">
				</p:commandButton>
			</h:panelGrid>
		</h:form>
		<h:form id="formListaPublicacoes">
			<p:dataTable value="#{publicacaoBean.publicacoes}" var="publicacao"
				id="tabelaPublicacoes">
				<p:column>
					<f:facet name="header">Título</f:facet>
					<h:outputText value="#{publicacao.titulo}" />
				</p:column>
				<p:column>
					<f:facet name="header">Link</f:facet>
					<h:outputText value="#{publicacao.linkPublicacao}" />
				</p:column>
				<p:column>
					<f:facet name="header">Data da Publicação</f:facet>
					<h:outputText value="#{publicacao.dataPublicacao}">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Sao_Paulo" />
					</h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header">Remover</f:facet>
					<p:commandLink value="Remover"
						update=":tableView:accodionPanel:formListaPublicacoes"
						action="#{publicacaoBean.rm(publicacao)}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:composition>
</h:body>
</html>