<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head />
<h:body>
	<ui:composition>
		<p:tabView id="tableViewRelacionamentos">
			<p:tab title="Meus pedidos">
				<h:form id="formListaPedidosOrientacao">
					<p:dataTable value="#{pedidoOrientacaoBean.pedidos}" var="pedido"
						id="tabelaPedidosOrientacao">
						<p:column>
							<f:facet name="header">Nome</f:facet>
							<h:outputText value="#{pedido.solicitado.nome}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:tab>
			<p:tab title="Solicitacoes">
				<h:form id="formListaSolicitacoesOrientacao">
					<p:dataTable value="#{pedidoOrientacaoBean.solicitacoes}"
						var="solicitacao" id="tabelaSolicitacoesOrientacao">
						<p:column>
							<f:facet name="header">Nome</f:facet>
							<h:outputText value="#{solicitacao.solicitante.nome}" />
						</p:column>
						<p:column style="text-align:center">
							<f:facet name="header">Deseja aceitar?</f:facet>
							<div style="text-align:center;">
								<p:commandLink style="margin:auto;padding:10px;" value="Aceitar"
									update=":tableView:formListaOrientacoes:tabelaOrientacoes"
									action="#{pedidoOrientacaoBean.aceitar(solicitacao.solicitante)}" />
								<p:commandLink style="margin:auto;padding:10px;" value="Recusar"
									update=":tableView:formListaOrientacoes:tabelaOrientacoes"
									action="#{pedidoOrientacaoBean.recusar(solicitacao.solicitante)}" />	
							</div>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:tab>
		</p:tabView>
		<h:form id="formListaOrientacoes">
			<p:dataTable value="#{pedidoOrientacaoBean.relacionamentos}"
				var="usuario" id="tabelaOrientacoes">
				<p:column>
					<f:facet name="header">Nome</f:facet>
					<h:outputText value="#{usuario.nome}" />
				</p:column>
				<p:column>
					<f:facet name="header">Sobrenome</f:facet>
					<h:outputText value="#{usuario.sobrenome}" />
				</p:column>
				<p:column>
					<f:facet name="header">E-mail</f:facet>
					<h:outputText value="#{usuario.email}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:composition>
</h:body>
</html>