<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<title>Cadastro de Usuário</title>
</h:head>

<h:body>
	<h1>Cadastro de Usuário</h1>
	<h:form>
		<h:messages class="error" />
		<p:fieldset legend="Dados do usuário">
			<h:panelGrid>
				<p:outputLabel value="Nome:" for="unome" />
				<p:inputText id="unome" value="#{usuarioBean.nome}" />


				<p:outputLabel value="Sobrenome:" for="usobrenome" />
				<p:inputText id="usobrenome" value="#{usuarioBean.sobrenome}" />

				<p:outputLabel value="CPF:" for="uCpf" />
				<p:inputText id="uCpf" value="#{usuarioBean.cpf}" />

				<p:outputLabel value="Email" for="uEmail" />
				<p:inputText id="uEmail" value="#{usuarioBean.email}" />

				<p:outputLabel value="Senha:" for="uSenha" />
				<p:inputText id="uSenha" type="password"
					value="#{usuarioBean.senha}" />

				<p:outputLabel value="Perfil" for="uPerfil" />
				<p:selectOneMenu id="uPerfil" value="#{usuarioBean.perfil}">
					<f:selectItem itemLabel="Estudante" itemValue="Estudante" />
					<f:selectItem itemLabel="Professor" itemValue="Professor" />
				</p:selectOneMenu>
			</h:panelGrid>
		</p:fieldset>
		<h:panelGrid>
			<p:commandButton value="Cadastrar" action="#{usuarioBean.add}" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>
