<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head />
<h:body>
	<h:form>
		<p:fieldset legend="Adicionar Áreas de interesse:">
			<h:panelGrid>
				<p:outputLabel for="areaSelect" value="Areas:" />
				<p:selectOneMenu id="areaSelect" value="#{usuarioAreaBean.usuarioArea}"
						panelStyle="width:180px" effect="fade"
					var="a" style="width:160px" filter="true"
					filterMatchMode="startsWith">
					<f:selectItems value="#{areaBean.areas}" var="area"
						itemLabel="#{area.nome}" itemValue="#{area}" />
				</p:selectOneMenu>
			</h:panelGrid>
		</p:fieldset>
		<h:panelGrid>
			<p:commandButton value="Adicionar" action="#{usuarioAreaBean.add}">
			</p:commandButton>
		</h:panelGrid>
	</h:form>
	<h:form id="formListaAreas">
		<p:dataTable value="#{usuarioAreaBean.usuarioAreas}" var="usuarioArea" id="tabelaAreas">
			<p:column>
				<f:facet name="header">Área:</f:facet>
				<h:outputText value="#{usuarioArea.area.nome}" />
			</p:column>
		</p:dataTable>
	</h:form>
</h:body>
</html>